        body{
            margin:0;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
        .Main{
            background:linear-gradient(to right,rgb(189, 193, 179),rgba(81, 77, 77, 0.916));
            width:100%;
            height:100vh;

        }
        .Main table{
            padding:10px;
            font-size: large;
            color:whitesmoke;
        }
        .MainTable{
            background-color: rgba(116, 112, 112, 0.916);
            justify-items: end;
            position:relative; 
            height:13%;
            width:100%; 
        }
        .imagediv{
            position:absolute;
            width:10vw;
            height:10vh;
            top:2vh;
            left:2vw;
            object-fit:cover;
            overflow:hidden;
        }
        img{
            width:10vw;
            height:10vh;
        }
        .Main td{
            padding:25px;
        }
        td:hover{
            cursor:pointer;
        }
        .sub1{
            position:absolute;
            width:40%;
            height:70%;
            top:15vh;
            left:30vw;
            bottom: 15vh;
            right:30vw;
            background:linear-gradient(to right,rgb(239, 239, 239),rgba(230, 228, 228, 0.916));
            border-radius: 25px;
            box-shadow: 0 4px 10px rgba(81, 77, 77, 0.916);
            animation:sub1In 1s ease-out forwards;
            text-align:center; 
            color:rgb(51, 50, 50);      
        }
        h2{
            font-size:30px ;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color:rgb(51, 50, 50);
            border-bottom: 2px solid grey;
            text-align: left;
            margin:30px 30px;
            padding-bottom: 30px;

        }
        h3{
            text-align:left;
            margin: 20px 30px;
            color:rgb(51, 50, 50);
        }
        h4{
            text-align:left;
            font-family:Georgia, 'Times New Roman', Times, serif;
            margin: 25px 30px;
            color:rgb(51, 50, 50);
            padding:5px; 
        }

        p{
          font-family:Georgia, 'Times New Roman', Times, serif;
          color:rgb(51, 50, 50);
          font-size: xx-large;
          text-align:center;
          font-weight:bolder;
          margin:15px 15px;
        }
        #nextbtn{
          border-radius: 10px;
          font-family:Georgia, 'Times New Roman', Times, serif;
          color:rgb(51, 50, 50);
          border: 2px solid rgb(72, 70, 70);
          box-shadow: 0 2px 8px rgba(179, 177, 177, 0.916);
          transition:0.3s ease-in-out;   
          margin:20px auto;
        }
        #nextbtn:hover{
            background-color:rgba(193, 187, 187, 0.916);
            cursor:pointer;
            transform:scale3d(1.05,1.05,1);
        }
        .Answerbtn{
            width:70%;
            height:30%;
            padding:10px;
            margin:10px 10px;
            border-radius:10px;
            font-size:large;
            font-family:Georgia, 'Times New Roman', Times, serif;
            box-shadow: 0 4px 10px rgba(124, 122, 122, 0.916);
            color:rgb(51, 50, 50);
        }
        .resettedbtn{
            position:absolute;
            bottom:0vh;
            left:15vw;
            height:40px;
            width:25%;
            font-size: large;
            margin:20px 0;
        }
        .scorebtn{
            display: block;
            height:60px;
            width:300px;
            font-size: larger;
        }
        
        .Correct:disabled{
            opacity: 1 !important;
            filter: none !important;
            color:rgb(51, 50, 50) !important;
            background-color: rgb(192, 220, 192)b !important;
   
        }
         
        .inCorrect:disabled{
            
            opacity: 1 !important;
            filter: none !important;
            color:rgb(51, 50, 50) !important;
            background-color:#d98282 !important;    
        }
        
        .Correct{
            background-color: rgb(164, 207, 164);
        }
        .inCorrect{
            background-color: #d98282;

        }
        #grade{
             text-align:center;
             white-space:pre-line;
             font-size:larger;
             color:rgb(51, 50, 50);
        }
        #emoji{
            text-align:center;
            font-size:80px;
        }
        .hide{
            display: none;
        }
        .bottomdiv{
            position:absolute;
            bottom:0vh;
            width:100%;
            height:13%;
            background-color: rgba(116, 112, 112, 0.916);
            color:rgba(245, 245, 245, 0.614);
            text-align:center;
            align-content: center;
            text-shadow:0 4px 10px rgba(62, 61, 61, 0.916) ;
        }

         @keyframes sub1In{
            from{
                transform:scale(0.5);
                opacity:0.5;
            }
            to{
                transform:scale(1);
                opacity:1;
            }
        }
         @media (max-width: 600px){
             .Main{
            background:rgb(237, 232, 232) !important;

             }
            .MainTable{
            background: rgb(65, 66, 66) !important;
            }
            .imagediv{ 
                width:30vw;
                height:8vh;
                top:2.8vh;
                left:1.7vw;
                overflow:hidden;
            }
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }

            .Main td{
                padding:2vw;
                
            }
            .Main table{
                padding: 4vh 6vw ;
                font-size:14px;
            }
            .sub1{
                width:80%;
                height:60%;
                top:20vh;
                left:10vw;
                bottom: 20vh;
                right:10vw;
                border-radius: 15px;
            }
            p{
                 font-size:25px;
                 margin:0.2vh 2vw;
                 padding: 10px 10px;
            }
            h2{
                font-size:20px ;
                margin:30px 30px; 
                padding-bottom: 10px;        
            }
            h3{
                margin: 10px 30px;
                font-size:14px;
                padding-bottom: 10px;
            
            }
            h4{
                text-align:center;
                margin: 3px 10px;
                padding:2px 3px; 
            }
            .Answerbtn{
                width:80%;
                height:70%;
                padding:5px;
                margin:10px 10px;
                border-radius:8px;
                font-size:14px;
            }
            #nextbtn{
                border-radius: 8px;   
                margin:20px auto;
            }
            .resettedbtn{
                 
                 left:30vw;
                 height:7%;
                 width:28%;
                 font-size:14px;
                 margin:20px 0;
            }       
            .scorebtn{
                height:7vh;
                width:50%;
                font-size: large;
            }
            .bottomdiv{
                font-size: small;
                background: rgb(65, 66, 66) !important;
            }

        }
        @media (min-width: 601px) and (max-width: 1024px){
            .imagediv{ 
                top:2.5vh;
                width:20vw;
                height:10vh;   
                overflow:hidden;
            }
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }

            .Main td{
                padding:2vw;
                
            }
            .Main table{
                padding: 3vh 6vw ;
                font-size:14px;
            }
            .sub1{
                width:60%;
                height:60%;
                top:20vh;
                left:20vw;
                bottom: 20vh;
                right:20vw;
                border-radius: 15px;
            }
            p{
                 font-size:25px;
                 margin:0.2vh 2vw;
                 padding: 10px 10px;
            }
            h2{
                font-size:20px ;
                margin:30px 30px; 
                padding-bottom: 10px;        
            }
            h3{
                margin: 10px 30px;
                font-size:14px;
                padding-bottom: 10px;
            
            }
            h4{
                text-align:center;
                margin: 3px 10px;
                padding:2px 3px; 
            }
            .Answerbtn{
                width:80%;
                height:5vh;
                padding:7px;
                margin:8px 10px;
                border-radius:8px;
                font-size:15px;
            }
            #nextbtn{
                border-radius: 8px;   
                margin:4vh 0 ;
            }
            .resettedbtn{
                 
                 left:21.5vw;
                 height:9%;
                 width:28%;
                 font-size:15px;
                 margin:20px 0;
            }       
            .scorebtn{
                position:absolute;
                left:15vw;
                height:7vh;
                width:50%;
                font-size: large;
                display:block;
                
                
            }
            .bottomdiv{
                font-size: small;
            }
        }